.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    background-color: #8EC3B0;
    box-shadow: 1px 1px 4px 0px #000;
}

.header a svg {
    width: 3em;
    height: 3em;
    color: #000;
}

.header nav form {
    display: flex;
}

.header nav form input {
    width: 40em;
    padding: 0.5em;
    border-top-left-radius: 0.8em;
    border-bottom-left-radius: 0.8em;
    border: 1px solid #000;
}

.header nav form input:hover {
    border: 2px solid #000;
}

.header nav form button {
    width: 3em;
    background-color: #000;
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    cursor: pointer;
}

.header nav form button:hover {
    background-color: rgba(0, 0, 0, 0.62);
}

.header nav form button svg {
    color: #fff;
    width: 1.2em;
    height: 1.2em;
}